@model Tracker.Web.Models.UpdateInventoryLocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UpdateInventoryLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SKU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SKU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estDeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estDeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trackingNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trackingNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isReturnLabel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isReturnLabel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InventoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
