@model IEnumerable<Tracker.Web.Models.LLInventoryView3>

@{
    ViewBag.Title = "All Inventory";
}

<head>
     @Styles.Render("~/Content/editor.dataTables.min.css")
    @Scripts.Render("~/Scripts/dataTables.editor.min.js")
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/select/1.2.1/css/select.dataTables.min.css">
    
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

      <!-- buttons -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>

    <!-- select -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
    

    <script type="text/javascript" charset="utf8">
        var jquery = jQuery.noConflict();
        jquery(document).ready(function () {
        jquery('#toah').dataTable();
        jquery('#example').dataTable( {
            "processing": true,
            "ajax": {
            "url": "/TOAH/table",
            "type": "POST"
            },
            "columns": [
            { "data": "DT_RowId" },
            { "data": "OrderId" },
            { "data": "OrderDate" },
            { "data": "RequestDate" },
            { "data": "RequestedItems" },
            { "data": "Inventory1" },
            { "data": "Inventory2" },
            { "data": "Inventory3" },
            { "data": "Inventory4" }
        ]
        });
        jquery('#example').on( 'click', 'tbody td:not(:first-child)', function (e) {
        editor.inline( this );
    } );
 
   
    });
    
</script>

</head>    
<h2>LL Inventorys</h2>
<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>DT_RowId</th>
                <th>OrderId</th>
                <th>OrderDate</th>
                <th>RequestDate</th>
                <th>RequestedItems</th>
                <th>Inventory1</th>
                <th>Inventory2</th>
                <th>Inventory3</th>
                <th>Inventory4</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>DT_RowId</th>
                <th>OrderId</th>
                <th>OrderDate</th>
                <th>RequestDate</th>
                <th>RequestedItems</th>
                <th>Inventory1</th>
                <th>Inventory2</th>
                <th>Inventory3</th>
                <th>Inventory4</th>
            </tr>
        </tfoot>
    </table>


<table id="toah" class="table table-condensed table-hover table-striped">
    <thead>
    <tr>
        <th width="10%">
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedItems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inventory1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inventory2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inventory3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inventory4)
        </th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td width="10%">
            @Html.DisplayFor(modelItem => item.OrderId)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.RequestDate)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.RequestedItems)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Inventory1)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Inventory2)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Inventory3)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Inventory4)
        </td> 
    </tr>
}
</tbody>


</table>
