@model IEnumerable<Tracker.Web.Models.LLInventoryView2>

@{
    ViewBag.Title = "All Inventory";
}


<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js">
$(document).ready( function () {
    $('#neil').DataTable();
} );
</script>


<h2>LL Inventory</h2>

<table id="neil" class="table table-condensed table-hover table-striped">
    <tr>
        <th width="10%">
            @Html.DisplayNameFor(model => model.InventoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SKU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td width="10%">
            @Html.DisplayFor(modelItem => item.InventoryId)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.SKU)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td> 
    </tr>
}

</table>

