@model IEnumerable<Tracker.Web.Models.LLInventoryView2>

@{
    ViewBag.Title = "All Inventory";
}

<h2>LL Inventory</h2>

<table id="neil" class="table table-condensed table-hover table-striped">
    <thead>
    <tr>
        <th width="10%">
            @Html.DisplayNameFor(model => model.InventoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SKU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td width="10%">
            @Html.DisplayFor(modelItem => item.InventoryId)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.SKU)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td> 
    </tr>
}
</tbody>

</table>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js">
</script>

<script type="text/javascript" charset="utf8">
        var jquery = jQuery.noConflict();
      jquery(document).ready(function () {
      jquery('#neil').dataTable({
           "iDisplayLength": 150
      });
});
</script>