@model IEnumerable<Tracker.Web.Models.LLInventoryView>

 <head>
   <title>Small Bakery Products</title>
   <style>
       table, th, td {
         border: solid 1px #bbbbbb;
         border-collapse: collapse;
         padding: 2px;
       }
    </style>
 </head>
 
@{
    ViewBag.Title = "All Inventory";
}

<h2>LL Inventory</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product_name)
        </th>
        <th>
            Last @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            Last @Html.DisplayNameFor(model => model.Type)
        </th>
         <th>
            Last @Html.DisplayNameFor(model => model.Color)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product_name)
        </td>
 
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
    </tr>
}

</table>
