@model IEnumerable<Tracker.Web.Models.TOAH_sizeRelevant8>

@{
    ViewBag.Title = "Index";
}

<h2>Returned Items still marked 'away'</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InventoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SKU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request_StreetSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SizeDiff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.OrderId)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.ItemNumber)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.RequestCount)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.InventoryId)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.SKU)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Name)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Request_StreetSize)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Size)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.SizeDiff)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Location)
        </th>
        
    </tr>
}

</table>
